/* apps/web/app/globals.css */

@import "tailwindcss";

@font-face {
  font-family: ComicShans;
  src: url(../public/fonts/ComicShanns-Regular-279a7b317d12eb88de06167bd672b4b4.woff2);
}

@font-face {
  font-family: ExcaliFont;
  src: url(../public/fonts/Excalifont-Regular-a88b72a24fb54c9f94e3b5fdaa7481c9.woff2);
}
/* STOP PAGE PINCH ZOOM */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
  background-color: black;
}

/* ALLOW ONLY CANVAS GESTURES */
canvas {
  touch-action: none;
  overscroll-behavior: none;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}


